<div class="wrapper">
    <div class="row">
        <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-3 bg-white rounded">
            <div class="card-header bg-success text-white">
            <h3 style="margin-top: 10px; text-align: center; color: #fdf2f2;">Login</h3></div>
            <p style="text-align: center; font-size: 14px; color: #666;">
                With an FRS account, you can make bookings and manage them quickly and easily.
            </p>
            
            <form>
                <div class="form-group">
                    <label for="username">User Name:</label>
                    <input class="form-control" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <div class="form-group text-center">
                    <button class="logInBtn btn btn-primary btn-block" ><a href="userpanel">Login</a></button>
                </div>
                <div class="form-group text-center">
                    <button class="logInBtn btn btn-primary btn-block"><a href="adminpanel">Admin</a></button>
                </div>
            </form>
            <hr>
            <div class="form-group text-center">
                <span style="color: #666;">OR<br>Sign Up for a new account</span>
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-success signUpBtn btn-block">SIGN UP</button>
            </div>
        </div>
    </div>
</div>
