<!--<h3>Flight reservation system
    <button type="submit" class="btn btn-danger btn-lg float-right">logout</button>
</h3>-->
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
      <h3 class="card-header text-center bg-primary text-white">Update Flight</h3>
  
      <form (ngSubmit)="onSubmit()" class="card-body">
        <div class="form-group">
          <label for="carrierName">Carrier Name</label>
          <input type="text" class="form-control" id="carrierName" required [(ngModel)]="flight.carrierName" name="carrierName">
        </div>
  
        <div class="form-group">
          <label for="flightModel">Flight Model</label>
          <input type="text" class="form-control" id="flightModel" required [(ngModel)]="flight.flightModel" name="flightModel">
        </div>
  
        <div class="form-group">
          <label for="seatCapacity">Seat Capacity</label>
          <input type="text" class="form-control" id="seatCapacity" required [(ngModel)]="flight.seatCapacity" name="seatCapacity">
        </div>
  
        <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>
    </div>
  </div>
  
  
<!--<br><br>
<div class="container">
    <div class="row">
        <table align-center>
            <tr><td>Add</td><td>View</td><td>Serach</td><td>Update</td></tr>
        </table>
            <div class="form-bg">
                <form #regForm='ngForm' align-center>
                    <br/> 
                    <div class="form-group">
                        <input type="text" class="form-control"
                        placeholder="Flight id: xxxx" required ngModel>
                    </div> 
                    <div class="form-group">
                        <input type="text" class="form-control"
                        placeholder="Flight Model: xxxx" required ngModel>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"
                        placeholder="Carrier Name: xxxx" required ngModel>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"
                        placeholder="Seat Capacity: xxxx" required ngModel>
                    </div>
                    <div class="align-center">
                        <button type="submit" class="btn btn-success" [disabled]="!regForm.valid">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>-->