<div class="scrolling-text">
    <marquee behavior="scroll" direction="left">
   
    <div >Special Offer: Save 20% on your first booking - Limited Time Only!</div>
    </marquee>
</div>
  <div class="container">
     <div class="a">
    
      </div>
      <div class="col-md-3" style="padding: 5px;">
        <img src="assets/special-offer.jpg" height="200px" width="250px"/><div class="intro-card">
            <h1>Welcome to Flight Management System</h1>
            <p>Efficiently manage flights and bookings with our user-friendly system. Book, modify, and track flights with ease.</p>
        </div>
      </div>
      

    </div>
    
    <div class="b">
    </div>