.container{
    background-image: url('/assets/flight1.gif');
    background-repeat: no-repeat;
   
    max-width: inherit;
    height: 499px;
    margin-top: -21px;
}
.card{
    
    position: absolute;
    right: 180px;
    margin-top: 5px;
    
  }