<div class="panel panel-primary">
  <h1>Airport Lists</h1>
  <button class="btn btn-success attractive-button" routerLink="addnewairport">Add Airport

  </button>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover m-2">
      <thead class="thead-dark">
          <tr>
            <th>Airport Id</th>
            <th>AirportCode</th>
            <th>AirportName</th>
            <th>AirportLocation</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airport of airport">
            <td>{{airport.id}}</td>
            <td>{{airport.airportCode}}</td>
            <td>{{airport.airportName}}</td>
            <td>{{airport.airportLocation}}</td>
            <td>
              <button class="btn btn-warning btn-sm" (click)="updateAirport(airport.id)">Update</button>
              <button (click)="deleteAirport(airport.id)" class="btn btn-danger btn-sm ml-2">Delete</button>
              
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>